html{
    background: grey;
}
body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 10px solid black;
    margin: 40px;
    padding: 30px;
}
p{
    color: black;
}
h1, h2{
    color: darkblue;
}
section{
    border-top: 10px solid black;
    display: flex;
}
#author{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
article{
    border-top: 5px dotted black;
    padding: 20px;
}
.post-area{
    background: white;
}
a[src]{
    border-top: 5px solid black;
}
nav{
    position: sticky;
    background-color: white;
    top: 0px;
}
.img-small{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}
.wrapper {
    background-color: rgb(79,185,227);
    padding: 10px;
    color: #fff; 
  }
  .wrapper::after {
    content: "";
    clear: both;
    display: block;
  }

/* Media Queries */

@media (max-width: 400px) {
    body{
        background-color: white;
    }
}